{% extends 'article/base.html'%}
{% load static %}
{% load my_tags %}
{% block content %}


<div class="row text-right">
    {% for object in object_list %}

    <div class="col-4">

        <div class="card mb-3 box-shadow">
            <img src="{{ object.image | media_filter }}" class="card-img-top" alt={{object.image|media_filter}}>


            <div class="card-body">
                <h5 class="card-title">
                    <div style="color: orange"><b>{{object.name}}</b></div>
                </h5>
                <p class="card-text">
                    {% if object.body|length >= 100 %}
                    {{ object.body|slice:":100"}} ...
                    {% else %}
                    {{ object.body}}
                    {% endif %}
                </p>
                <div class="btn-group">
                    <a class="btn btn-success" href="{% url 'article:article_detail' object.pk%}" role="button">Посмотреть</a>

                    {% if perms.article.change_article or user.is_superuser %}
                    <a class="btn btn-success" href="{% url 'article:article_update' object.pk%}"
                       role="button">Изменить</a>
                    {%endif%}

                   {% if perms.article.delete_article or user.is_superuser %}

                    <a class="btn btn-danger" href="{% url 'article:article_delete' object.pk%}"
                       role="button">Удалить</a>

                    {%endif%}
                </div>

            </div>

    </div>


    </div>
    {% endfor %}

</div>
</div>


{% if is_paginated %}

<div class="col-12">
    <div class="card mb-3 box-shadow">

        <div class="card-body">

            <div class="btn-group">


                <ul class="pagination">
                    {% if page_obj.has_previous %}


                    <li>

                        <a class="p-2 btn btn-outline-primary"
                           href="?page={{ page_obj.previous_page_number }}"
                           role="button"> &laquo; </a> &nbsp;


                    </li>
                    {% else %}

                    <li class="disabled p-2 btn btn-outline-primary" role="button"><span>&laquo;</span></li> &nbsp;
                    {% endif %}


                    {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                    <li class="disabled p-2 btn btn-outline-primary" role="button"><span>{{ i }}(текущая);</span></li>
                    &nbsp;
                    {% else %}
                    <li>


                        <a class="p-2 btn btn-outline-primary"
                           href="?page={{ i }}"
                           role="button"> {{ i }} </a> &nbsp;

                    </li>
                    {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li>

                        <a class="p-2 btn btn-outline-primary"
                           href="?page={{ page_obj.next_page_number }}"
                           role="button"> &raquo; </a>

                    </li>
                    {% else %}
                    <li class="disabled p-2 btn btn-outline-primary" role="button"><span>&raquo; </span></li> &nbsp;
                    {% endif %}
                </ul>

            </div>

        </div>
    </div>
</div>

{% endif %}


</div>

{% endblock %}