{% extends 'dogs/base.html' %}
{% load my_tags %}
{% block content %}



<div class="album py-5 bg-body-tertiary">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">


            {% for dog in dogs %}
            <div class="col">
                <div class="card shadow-sm">
                    <img scr="{{ dog.photo | media_filter }}" alt="{{ dog.photo | media_filter }}">
                    <br>
                    <img scr="{{ dog.photo | media_filter }}" class="card-img-top" alt="{{dog.photo | media_filter}}">
                    <img src="media/{{dog.photo}}" class="card-img-top" alt={{dog.photo}}>

                    <li>{{dog.photo | media_filter}}</li>
                    <li>media/{{dog.photo}}</li>


                    <div class="card-body">
                        <p class="card-text">{{dog}}
                            <br>
                            <b>Кличка:</b> {{dog.name}}
                            <br>
                            <b>Порода:</b> {{dog.breed}}
                            <br>
                            <b>Дата рождения:</b> {{dog.date_born}}
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-body-secondary">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>


            {% endfor %}


        </div>
    </div>
</div>
    {% endblock %}