{% extends 'catalog/base.html'%}
{% load static %}
{% load my_tags %}
{% block content %}


<div class="row text-right">
    {% for object in object_list %}

    <div class="col-4">

        <div class="card mb-3 box-shadow">
            <img src="{{ object.image | media_filter }}" class="card-img-top" alt={{object.image|media_filter}}>


            <div class="card-body">
                <h5 class="card-title">
                    <div style="color: orange"><b>{{object | title}}</b></div>
                </h5>
                <p class="card-text">
                    {% if object.description|length >= 100 %}
                    {{ object.description|slice:":100"}} ...
                    {% else %}
                    {{ object.description}}
                    {% endif %}
                </p>
                <div class="btn-group">
                    <a class="btn btn-primary" href="{% url 'catalog:product_detail' object.pk%}" role="button">Посмотреть</a>


                    <a class="btn btn-primary" href="{% url 'catalog:product_update' object.pk%}" role="button">Изменить</a>

                    <a class="btn btn-primary" href="{% url 'catalog:product_detail' object.pk%}" role="button">Удалить</a>
                </div>

            </div>
        </div>


    </div>
    {% endfor %}


</div>

{% endblock %}