{% extends 'catalog/base.html'%}
{% load static %}
{% load my_tags %}
{% block content %}


<div class="row text-right">
    {% for object in object_list %}

    <div class="col-4">

        <div class="card mb-3 box-shadow">
            <img src="{{ object.image | media_filter }}" class="card-img-top" alt={{object.image|media_filter}}>


            <div class="card-body">
                <h5 class="card-title">
                    <div style="color: orange"><b>Список категорий:</b></div>
                </h5>



                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Название категории</th>
                        <th scope="col">Описание категории</th>
                        <th scope="col">Показать продукты</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% load my_tags %}


                    {%for category in category_list%}

                    <tr>
                        <td>{{category.name}}</td>
                        <td>{{category.description}}</td>
                        <td><a class="btn btn-primary" href=""
                               role="button">Посмотреть</a></td>

                        {% if user == object.product.owner %}

                        <td><a class="btn btn-primary" href="{% url 'catalog:version_update' object.pk%}" role="button">Изменить</a>
                        </td>
                        <td><a class="btn btn-primary" href="{% url 'catalog:version_delete' object.pk%}" role="button">Удалить</a>
                        </td>

                        {% else %}
                        <td><a class="btn btn-secondary" disabled>Изменить</a>
                        </td>
                        <td><a class="btn btn-secondary" disabled>Удалить</a>
                        </td>
                        {%endif%}

                    </tr>
                    {% endfor %}

                    </tbody>
                </table>


                <br>




                <div class="btn-group">
                    <a class="btn btn-primary" href="{% url 'catalog:product_detail' object.pk%}" role="button">Посмотреть</a>



                    {% if perms.catalog.can_change_is_published_field and perms.catalog.can_edit_description and perms.catalog.can_edit_category or user == object.owner %}
                    <a class="btn btn-primary" href="{% url 'catalog:product_update' object.pk%}"
                       role="button">Изменить</a>
                    {%endif%}

                    {% if user == object.owner or user.is_superuser%}

                    <a class="btn btn-primary" href="{% url 'catalog:product_delete' object.pk%}"
                       role="button">Удалить</a>
                    {%endif%}
                </div>

            </div>
        </div>


    </div>
    {% endfor %}


</div>


{% if is_paginated %}

<div class="col-12">
    <div class="card mb-3 box-shadow">

        <div class="card-body">

            <div class="btn-group">


                <ul class="pagination">
                    {% if page_obj.has_previous %}


                    <li>

                        <a class="p-2 btn btn-outline-primary"
                           href="?page={{ page_obj.previous_page_number }}"
                           role="button"> &laquo; </a> &nbsp;


                    </li>
                    {% else %}

                    <li class="disabled p-2 btn btn-outline-primary" role="button"><span>&laquo;</span></li> &nbsp;
                    {% endif %}


                    {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                    <li class="disabled p-2 btn btn-outline-primary" role="button"><span>{{ i }}(текущая);</span></li>
                    &nbsp;
                    {% else %}
                    <li>


                        <a class="p-2 btn btn-outline-primary"
                           href="?page={{ i }}"
                           role="button"> {{ i }} </a> &nbsp;

                    </li>
                    {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li>

                        <a class="p-2 btn btn-outline-primary"
                           href="?page={{ page_obj.next_page_number }}"
                           role="button"> &raquo; </a>

                    </li>
                    {% else %}
                    <li class="disabled p-2 btn btn-outline-primary" role="button"><span>&raquo; </span></li> &nbsp;
                    {% endif %}
                </ul>

            </div>

        </div>
    </div>
</div>

{% endif %}


</div>

{% endblock %}