{% extends 'catalog/base.html'%}
{% block content %}

<div class="row text-center">
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Удобный сервис рассылок</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$ 140</h1>
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <li>- Неограниченная лицензия</li>
                    <li>- Поддержка</li>
                    <li>- Установка на сервер</li>
                    <li>- Получение обновлений</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
            </div>
        </div>

    </div>

    <div class="col-6">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Удобный сервис рассылок</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$ 140</h1>
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <li>- Неограниченная лицензия</li>
                    <li>- Поддержка</li>
                    <li>- Установка на сервер</li>
                    <li>- Получение обновлений</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
            </div>
        </div>

    </div>

</div>

<div class="row text-right">
    {% for object in object_list %}

    <div class="col-4">

        <div class="card mb-3 box-shadow">
            <img src="media/product/photo/{{object.image}}" class="card-img-top" alt={{object.image}}>


            <div class="card-body">
                <h5 class="card-title">{{object | title}}</h5>
                <p class="card-text">
                    {% if object.id == 1 %}
                    Первый сорт!!! {{object.description}}
                    {% else %}
                    <span class="text-muted">{{object.description}}</span>

                    {% endif %}
                </p>
                <a href="media/product/photo/{{object.image}}" class="btn btn-primary">Перейти куда-нибудь</a>
            </div>
        </div>


    </div>
    {% endfor %}


</div>

{% endblock %}