{% extends 'catalog/base.html'%}
{% load static %}
{% load my_tags %}
{% block content %}


<div class="row text-right">
    {% for object in product_list %}

    <div class="col-4">

        <div class="card mb-3 box-shadow">
            <img src="{{ object.image | media_filter }}" class="card-img-top" alt={{object.image|media_filter}}>


            <div class="card-body">
                <h5 class="card-title">
                    <div style="color: orange"><b>{{object | title}}</b></div>
                </h5>
                <p class="card-text">
                    {% if object.description|length >= 100 %}
                    {{ object.description|slice:":100"}} ...
                    {% else %}
                    {{ object.description}}
                    {% endif %}
                </p>
                <div class="btn-group">
                    <a class="btn btn-primary" href="{% url 'catalog:product_detail' object.pk per_page page%}" role="button">Посмотреть</a>
                </div>

            </div>
        </div>


    </div>
    {% endfor %}
    <div class="col-12">
        <div class="card mb-3 box-shadow">

            <div class="card-body">
                <h5 class="card-title">
                    <div style="color: orange"><b>Страница {{page}} из {{page_count|length}}, вывод по {{per_page}}
                        позиции</b></div>
                </h5>
                <p class="card-text">

                </p>
                <div class="btn-group">

                        {% for btn in page_count %}

                        <a class="p-2 btn btn-outline-primary"
                           href="{% url 'catalog:catalog' per_page btn%}"
                           role="button"> {{btn}} </a> &nbsp;





                    {% endfor %}


                </div>

            </div>
        </div>
    </div>


</div>

{% endblock %}